body,
html {
    height: 100%;
    width: 100%;
    /*        overflow-x: hidden;*/

}

* {
    font-family: 'Noto Sans', sans-serif;

}

.nav {
    /*    padding: 8px;*/
    position: fixed;
    width: 100%;
    background-color: #f4a23d;
    z-index: 2;
}

.logo {
    height: 60px;
    width: 60px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a:hover {
    color: white;
    text-decoration: none;
}

.btn {
    box-shadow: 1px 1px 2px 2px #7c595996;
    border-radius: 1px solid blue;
    font-weight: 600;
    color: orange;
    background-color: white;
}

.btn:hover {
    transform: translateY(-2px);
    background-color: aquamarine;
    color: white;
}

.slide {
    height: 550px;
}

.card-image {
    height: 250px;
}

#BGeeta {
    width: 300%;
    margin-left: 1360px;
    transition: all;
    transition-delay: .2s;
    transition-duration: 2s;
    overflow-x: hidden;

}

.Bgeeta {
    transform: translate3d(-1360px, 0, 0);
    transition-delay: .2s;
    width: 100% !important;
    transition-duration: .5s;
    margin: 0;
    overflow-x: hidden;


}

#UGeeta {
    width: 300%;
    margin-left: -1360px;
    transition: all;
    transition-delay: .2s;
    transition-duration: 2s;
    padding-top: 20px;
    overflow-x: hidden;
}

.Ugeeta {
    transform: translate3d(1360px, 0, 0);
    transition-delay: .2s;
    width: 100% !important;
    transition-duration: .5s;
    margin: 0;
    overflow-x: hidden;


}

.title {
    padding-left: 10px;
}

.img {
    height: 100%;
    width: 100%;
    transition-duration: 1s;
    box-shadow: 0px 0px 2px 3px #80808096;
}
